In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
col = ["Id", "Name", "Age", "Weight", "m0006", "m0612", "m1218", "f0006", "f0612", "f1218"]
df = pd.read_csv("patient_heart_rate.csv", names = col)
df.head(5)
# Gán tên cột vào dataframe

    Id            Name   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218
0  1.0    Mickéy Mousé  56.0       70kgs    72    69    71     -     -     -
1  2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
2  3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
3  4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
4  5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75

In [3]:
df[["FirstName", "LastName"]] = df["Name"].str.split(expand = True)
df = df.drop("Name", axis = 1)
df
# Tách giá trị từ cột Name thành 2 giá trị. Sau đó gán 2 giá trị đó vào 2 cột mới là FirstName và LastName
# Sau khi gán xong thì xóa cột Name ban đầu

,Id,Age,Weight,m0006,m0612,m1218,f0006,f0612,f1218,FirstName,LastName
0,1.0,56.0,70kgs,72,69,71,-,-,-,Mickéy,Mousé
1,2.0,34.0,154.89lbs,-,-,-,85,84,76,Donald,Duck
2,3.0,16.0,NaN,-,-,-,65,69,72,Mini,Mouse
3,4.0,NaN,78kgs,78,79,72,-,-,-,Scrooge,McDuck
4,5.0,54.0,198.658lbs,-,-,-,69,NaN,75,Pink,Panther
5,6.0,52.0,189lbs,-,-,-,68,75,72,Huey,McDuck
6,7.0,19.0,56kgs,-,-,-,71,78,75,Dewey,McDuck
7,8.0,32.0,78kgs,78,76,75,-,-,-,Scööpy,Doo
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,9.0,52.0,189lbs,-,-,-,68,75,72,Huey,McDuck
12,10.0,12.0,45kgs,-,-,-,92,95,87,Louie,McDuck
13,11.0,NaN,60kgs,78,75,72,-,-,-,Henry,Nam
14,12.0,34.0,NaN,65,67,55,-,-,-,Michel,Long
15,13.0,NaN,NaN,-,-,-,68,72,70,Tana,Ricky
16,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UniLever,None
17,15.0,52.0,180lbs,-,-,-,68,75,72,NaN,NaN

In [4]:
col3 = df['Weight'].values
for i in range(len(col3)):
    x = str(col3[i])
    if x[-3:] == "lbs":
        weight = x[:len(x) - 3]
        num_fl = float(weight)
        kg = int(num_fl / 2.2)
        col3[i] = str(kg) + "kgs"
df.head(10)
# Chuẩn hóa dữ liệu trên cột Weight thành cùng 1 kiểu là kgs.

    Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 FirstName LastName
0  1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1  2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2  3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3  4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4  5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5  6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6  7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7  8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
8  NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
9  NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN

In [5]:
df.dropna(how = 'all', inplace = True)
df
# dropna với parameter là all có nghĩa là xóa hết tất cả các cột trùng nhau

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 FirstName LastName
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
11   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
12  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

In [6]:
df = df.drop_duplicates(subset = ["FirstName", "LastName", 'Age', 'Weight'])
df
# drop_duplicates xóa tất cả các giá trị trùng lặp trên 4 cột FirstName, LastName, Age, Weight

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 FirstName LastName
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
12  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

In [7]:
df.FirstName.replace({r'[^\x00-\x7F]+':''}, regex = True, inplace = True)
df.LastName.replace({r'[^\x00-\x7F]+':''}, regex = True, inplace = True)
df
# Chuẩn hóa dữ liệu của các chữ không phải là ASCII.

C:\Users\HP\AppData\Local\Temp\ipykernel_33372\145928804.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.FirstName.replace({r'[^\x00-\x7F]+':''}, regex = True, inplace = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_33372\145928804.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.LastName.replace({r'[^\x00-\x7F]+':''}, regex = True, inplace = True)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 FirstName LastName
0    1.0  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -      Scpy      Doo
12  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

In [8]:
index_isnull = df[df["Age"].isna() & df['Weight'].isna()].index
index_isnull
# tìm giá trị null trên 2 cột Age và Weight

Index([15, 16], dtype='int64')

In [9]:
df.drop(index_isnull, inplace = True)
df
# drop xóa index những cột null

C:\Users\HP\AppData\Local\Temp\ipykernel_33372\2438509623.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(index_isnull, inplace = True)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 FirstName LastName
0    1.0  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -      Scpy      Doo
12  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
17  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

In [10]:
df['Age'].fillna(df['Age'].mean(), inplace = False)
# fillna dùng để fill giá trị trung bình trên cột Age.

0     56.0
1     34.0
2     16.0
3     36.1
4     54.0
5     52.0
6     19.0
7     32.0
12    12.0
13    36.1
14    34.0
17    52.0
Name: Age, dtype: float64

In [11]:
df = pd.melt(df, id_vars = ["Id", "Age", "Weight", "FirstName", "LastName"], value_name = "PulseRate", var_name = "sex_and_time").sort_values(["Id", "Age", "Weight", "FirstName", "LastName"])

In [12]:
df.head(10)

     Id   Age Weight FirstName LastName sex_and_time PulseRate
0   1.0  56.0  70kgs     Micky     Mous        m0006        72
12  1.0  56.0  70kgs     Micky     Mous        m0612        69
24  1.0  56.0  70kgs     Micky     Mous        m1218        71
36  1.0  56.0  70kgs     Micky     Mous        f0006         -
48  1.0  56.0  70kgs     Micky     Mous        f0612         -
60  1.0  56.0  70kgs     Micky     Mous        f1218         -
1   2.0  34.0  70kgs    Donald     Duck        m0006         -
13  2.0  34.0  70kgs    Donald     Duck        m0612         -
25  2.0  34.0  70kgs    Donald     Duck        m1218         -
37  2.0  34.0  70kgs    Donald     Duck        f0006        85

In [13]:
tmp_df = df["sex_and_time"].str.extract("(\D)(\d+)(\d{2})", expand = True)
tmp_df.columns = ["Sex", "hours_lower", "hours_upper"]
tmp_df["Time"] = tmp_df["hours_lower"] + '-' + tmp_df["hours_upper"]
tmp_df
# Tách các thông tin giới tính và ngày sau đó gán chúng vào data frame tạm.
# Tạo cột Time và chuẩn hóa dữ liệu.

   Sex hours_lower hours_upper   Time
0    m          00          06  00-06
12   m          06          12  06-12
24   m          12          18  12-18
36   f          00          06  00-06
48   f          06          12  06-12
..  ..         ...         ...    ...
23   m          06          12  06-12
35   m          12          18  12-18
47   f          00          06  00-06
59   f          06          12  06-12
71   f          12          18  12-18

[72 rows x 4 columns]

In [14]:
df = pd.concat([df, tmp_df], axis = 1)
df = df.drop(["sex_and_time", "hours_lower", "hours_upper"], axis = 1)
df = df.dropna()
df.columns
# concat dùng để nối dữ liệu từ data frame tạm đã tạo ở trên vào data frame gốc.
# sau đó drop các cột không cần thiết.

Index(['Id', 'Age', 'Weight', 'FirstName', 'LastName', 'PulseRate', 'Sex',
       'Time'],
      dtype='object')

In [15]:
df.head(10)

     Id   Age Weight FirstName LastName PulseRate Sex   Time
0   1.0  56.0  70kgs     Micky     Mous        72   m  00-06
12  1.0  56.0  70kgs     Micky     Mous        69   m  06-12
24  1.0  56.0  70kgs     Micky     Mous        71   m  12-18
36  1.0  56.0  70kgs     Micky     Mous         -   f  00-06
48  1.0  56.0  70kgs     Micky     Mous         -   f  06-12
60  1.0  56.0  70kgs     Micky     Mous         -   f  12-18
1   2.0  34.0  70kgs    Donald     Duck         -   m  00-06
13  2.0  34.0  70kgs    Donald     Duck         -   m  06-12
25  2.0  34.0  70kgs    Donald     Duck         -   m  12-18
37  2.0  34.0  70kgs    Donald     Duck        85   f  00-06

In [42]:
df["PulseRate"] = df["PulseRate"].replace({'-': '0'}, regex = True)
df["PulseRate"] = df["PulseRate"].astype(int)
df
# Thay đổi giá trị - thành giá trị 0

,Id,Age,Weight,FirstName,LastName,PulseRate,Sex,Time,PulseRateUpdate
0,1.0,56.0,70kgs,Micky,Mous,72,m,00-06,72.0
12,1.0,56.0,70kgs,Micky,Mous,69,m,06-12,69.0
24,1.0,56.0,70kgs,Micky,Mous,71,m,12-18,71.0
36,1.0,56.0,70kgs,Micky,Mous,0,f,00-06,72.0
48,1.0,56.0,70kgs,Micky,Mous,0,f,06-12,72.0
60,1.0,56.0,70kgs,Micky,Mous,0,f,12-18,72.0
1,2.0,34.0,70kgs,Donald,Duck,0,m,00-06,0.0
13,2.0,34.0,70kgs,Donald,Duck,0,m,06-12,0.0
25,2.0,34.0,70kgs,Donald,Duck,0,m,12-18,0.0
37,2.0,34.0,70kgs,Donald,Duck,85,f,00-06,85.0
49,2.0,34.0,70kgs,Donald,Duck,84,f,06-12,84.0
61,2.0,34.0,70kgs,Donald,Duck,76,f,12-18,76.0
4,5.0,54.0,90kgs,Pink,Panther,0,m,00-06,0.0
16,5.0,54.0,90kgs,Pink,Panther,0,m,06-12,0.0
28,5.0,54.0,90kgs,Pink,Panther,0,m,12-18,0.0
40,5.0,54.0,90kgs,Pink,Panther,69,f,00-06,69.0
64,5.0,54.0,90kgs,Pink,Panther,75,f,12-18,75.0
5,6.0,52.0,85kgs,Huey,McDuck,0,m,00-06,0.0
17,6.0,52.0,85kgs,Huey,McDuck,0,m,06-12,0.0
29,6.0,52.0,85kgs,Huey,McDuck,0,m,12-18,0.0
41,6.0,52.0,85kgs,Huey,McDuck,68,f,00-06,68.0
53,6.0,52.0,85kgs,Huey,McDuck,75,f,06-12,75.0
65,6.0,52.0,85kgs,Huey,McDuck,72,f,12-18,72.0
6,7.0,19.0,56kgs,Dewey,McDuck,0,m,00-06,0.0
18,7.0,19.0,56kgs,Dewey,McDuck,0,m,06-12,0.0
30,7.0,19.0,56kgs,Dewey,McDuck,0,m,12-18,0.0
42,7.0,19.0,56kgs,Dewey,McDuck,71,f,00-06,71.0
54,7.0,19.0,56kgs,Dewey,McDuck,78,f,06-12,78.0
66,7.0,19.0,56kgs,Dewey,McDuck,75,f,12-18,75.0
7,8.0,32.0,78kgs,Scpy,Doo,78,m,00-06,78.0
19,8.0,32.0,78kgs,Scpy,Doo,76,m,06-12,76.0
31,8.0,32.0,78kgs,Scpy,Doo,75,m,12-18,75.0
43,8.0,32.0,78kgs,Scpy,Doo,0,f,00-06,75.0
55,8.0,32.0,78kgs,Scpy,Doo,0,f,06-12,75.0
67,8.0,32.0,78kgs,Scpy,Doo,0,f,12-18,75.0
8,10.0,12.0,45kgs,Louie,McDuck,0,m,00-06,43.5
20,10.0,12.0,45kgs,Louie,McDuck,0,m,06-12,43.5
32,10.0,12.0,45kgs,Louie,McDuck,0,m,12-18,43.5
44,10.0,12.0,45kgs,Louie,McDuck,92,f,00-06,92.0
56,10.0,12.0,45kgs,Louie,McDuck,95,f,06-12,95.0
68,10.0,12.0,45kgs,Louie,McDuck,87,f,12-18,87.0

In [61]:
def avg(df, col):
    sum_p = 0
    nsum_p = 0
    for i, val in enumerate(df['FirstName']):
        if val == col:
            try:
                if df['PulseRate'][i] != 0:
                    sum_p += (df['PulseRate'].values[i])
                    nsum_p += 1
            except:
                pass
    if nsum_p > 0: return sum_p / nsum_p
    return 0
# Tính giá trị trung bình

In [17]:
def isValidIndex1(i, rows):
    return i - 1 > 0 & i + 1 < rows
# Kiểm tra vị trí hợp lệ

In [18]:
def isValidIndex2(i, rows):
    return i + 1 < rows & i + 2 < rows

In [44]:
def isPulseRateNotNull1(i, df):
    return df['PulseRate'][i - 1] != 0 & df['PulseRate'][i + 1] != 0
# Kiểm tra giá trị không null

In [45]:
def isPulseRateNotNull2(i, df):
    return df['PulseRate'][i + 1] != 0 & df['PulseRate'][i + 2] != 0

In [46]:
def isInGroup1(df, i, col):
    return df['FirstName'].values[i - 1] == col & df['FirstName'].values[i +  1] == col

In [69]:
def isInGroup2(df, i, col):
    return df['FirstName'].values[i + 1] == col & df['FirstName'].values[i + 2] == col

In [70]:
def update(i, df):
    rows = len(df['PulseRate']) - 2
    newval = 0
    col = df['FirstName'].values[i]
    try:
        if isValidIndex1(i, rows) & isPulseRateNotNull1(i, df) & isInGroup1(df, i, col):
            try:
                newval = (df['PulseRate'].values[i - 1] + df['PulseRate'].values[i + 1]) / 2
            except:
                newval = 0
        elif isValidIndex2(i, rows) & isPulseRateNotNull2(i, df) & isInGroup2(df, i, col):
            try:
                newval = (df['PulseRate'].values[i + 1] + df['PulseRate'].values[i + 2]) / 2
            except:
                newval = 0
        else: newval = avg(df, col)
    except:
        newval = avg(df, col)
    finally:
        pass
    return newval

In [71]:
pulserate_update = []
for i, val in enumerate(df['PulseRate']):
    if val == 0:
        newval = updatePulseRatena(i, df)
        pulserate_update.append(newval)
    else: pulserate_update.append(val)

In [72]:
df['PulseRateUpdate'] = pulserate_update
df.to_csv("patient_heart_rate_clean.csv")

0     72
12    69
24    71
36     0
48     0
60     0
1      0
13     0
25     0
37    85
Name: PulseRateUpdate, dtype: int64

In [58]:
df.head(10)

     Id   Age Weight FirstName LastName  PulseRate Sex   Time  PulseRateUpdate
0   1.0  56.0  70kgs     Micky     Mous         72   m  00-06               72
12  1.0  56.0  70kgs     Micky     Mous         69   m  06-12               69
24  1.0  56.0  70kgs     Micky     Mous         71   m  12-18               71
36  1.0  56.0  70kgs     Micky     Mous          0   f  00-06                0
48  1.0  56.0  70kgs     Micky     Mous          0   f  06-12                0
60  1.0  56.0  70kgs     Micky     Mous          0   f  12-18                0
1   2.0  34.0  70kgs    Donald     Duck          0   m  00-06                0
13  2.0  34.0  70kgs    Donald     Duck          0   m  06-12                0
25  2.0  34.0  70kgs    Donald     Duck          0   m  12-18                0
37  2.0  34.0  70kgs    Donald     Duck         85   f  00-06               85